@{
    ViewData["Title"] = "Home Page";
}

@model YeetPostV1_4.ViewModel.YeetViewModel;

<script>
        var model = @Html.Raw(Json.Serialize(Model));
</script>

<div id="app">

    <v-row>
            <v-card class="mx-auto"
                    max-width="500">
                <v-form ref="form" v-on:submit.prevent="submit">
                    <v-container fluid>
                        <v-row>


                            <div>
                                <v-col cols="12">
                                    <h1>Create a Yeet</h1>
                                </v-col>
                            </div>

                            <v-col cols="12">
                                <v-text-field v-model="header"
                                              id ="header"
                                              :rules="rules.name"
                                              color="purple darken-2"
                                              label="Yeet Topic"
                                              required></v-text-field>
                            </v-col>
                            <p>header is {{header}}</p>

                            <v-col cols="12">
                                <v-textarea v-model="yeet"
                                            id="yeet"
                                            :rules="rules.name"
                                            color="teal">
                                    <template v-slot:label>
                                        <div>
                                            Yeet <small>(make it funny)</small>
                                        </div>
                                    </template>
                                </v-textarea>
                            </v-col>
                            <v-col cols="8">

                            </v-col>


                            <v-col cols="8">
                                <v-btn v-on:click="submit">Post</v-btn>
                            </v-col>

                        </v-row>
                    </v-container>
            </v-card>


    </v-row>

    <br />
    <partial name="~/Views/Shared/_YeetPartial.cshtml" />


</div>

<script src="~/js/YeetPage.js"></script>