@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;

@model YeetPostV1_4.ViewModel.YeetViewModel;

<script>
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
          
</script>

<div id="app">

    <v-row>


        <partial name="~/Views/Shared/_YeetTabs.cshtml" />
        <partial name="~/Views/Shared/_CreateYeet.cshtml" />



    </v-row>

    <br />
    <partial name="~/Views/Shared/_YeetPartial.cshtml" />



</div>

<script src="~/js/YeetPage.js"></script>