@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;

@model YeetPostV1_4.ViewModel.YeetViewModel;

<script>
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
          
</script>

<div id="app">

    <v-row>

        <v-col cols="4">
            <v-tabs vertical>
                <v-tab v-on:click="filterBy('new')">
                    <v-icon left>mdi-octagram</v-icon>
                    New
                </v-tab>
                <v-tab v-on:click="filterBy('trending')">
                    <v-icon left>mdi-fire</v-icon>
                    Trending
                </v-tab>
                <v-tab>
                    <v-icon left>mdi-map-marker</v-icon>
                    Choose Location
                </v-tab>
              

            </v-tabs>
        </v-col>
        <v-col cols="8">
            <v-card 
                    max-width="550">
                <v-form ref="form" v-on:submit.prevent="submit">
                    <v-container fluid>
                        <v-row>


                       
                            <v-col cols="12">
                                <v-text-field v-model="header"
                                              id="header"
                                              :rules="rules.name"
                                              color="purple darken-2"
                                              label="Yeet Topic"
                                              required></v-text-field>
                            </v-col>


                            <v-col cols="12">
                                <v-textarea v-model="yeet"
                                            id="yeet"
                                            :rules="rules.name"
                                            color="teal">
                                    <template v-slot:label>
                                        <div>
                                            Yeet <small>(make it funny)</small>
                                        </div>
                                    </template>
                                </v-textarea>
                            </v-col>
                            <v-col cols="8">

                            </v-col>


                            <v-col cols="8">
                                <v-btn v-on:click="submit">Post</v-btn>
                            </v-col>

                        </v-row>
                    </v-container>
            </v-card>

        </v-col>
    </v-row>

    <br />
    <partial name="~/Views/Shared/_YeetPartial.cshtml" />


</div>

<script src="~/js/YeetPage.js"></script>