
@model YeetPostV1_4.ViewModel.YeetViewModel;
<v-app id="inspire"
            v-for="(yeet, index) in model.yeets">

    <v-card class="mx-auto"
            color="#26c6da"
            dark
            max-width="600"
             >
        <div v-on:click="viewYeet(yeet.yeetID)">
            <v-card-title>


                <v-list-item-content>
                    <v-list-item-title> &nbsp; {{yeet.username}}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-content>
                    <v-list-item-title> &nbsp; <strong> <b>{{yeet.header}}</b> </strong></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                    <v-list-item-title> &nbsp; {{yeet.date}}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-content>
                    <v-list-item-title> &nbsp; {{yeet.location}}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-content>
                    <v-icon class="mr-1" color="red">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mdi-flag</v-icon>
                </v-list-item-content>


            </v-card-title>

            <v-card-text class="headline font-weight-bold">
                "   {{yeet.yeet}} "
            </v-card-text>
        </div>
        <v-card-actions>
            <v-list-item class="grow">

                <v-row align="center"
                       justify="end">
                    <v-icon class="mr-1" color="red" v-if="yeet.iLiked == true"    v-on:click="likeYeet(yeet.yeetID, yeet.whoLikes, model.location, true)">mdi-heart</v-icon>

                    <v-icon class="mr-1"  v-else  v-on:click="likeYeet(yeet.yeetID, yeet.whoLikes, model.location, false)">mdi-heart</v-icon>


                    <span class="subheading mr-2">{{yeet.totalLikes}}</span>

                </v-row>
            </v-list-item>
        </v-card-actions>

    </v-card>
        <br />
    </v-app>

